.whitepaperWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: column;*/
    width: 100%;
    gap: 1rem;
}
.whitepaperInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*padding: 1.5rem;*/
    border-radius: 8px;
    transition: .5s;
    /*height: 45vw;*/
    aspect-ratio: 1 / 1;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
    /*border: 1px solid;*/
    /*border-image: linear-gradient(to right, white, skyblue) 1;*/
    overflow: hidden;
    /*border: 1px solid #999;*/
}
.whitepaperInner:active { transform: scale(0.95);}
.whitepaperInner.show {
    /*width: 44%;*/
}
.whitepaperInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    /*background: linear-gradient(135deg, #f9f9f9, lightskyblue);*/
    /*filter: brightness(1.1) contrast(0.9) saturate(1.1) blur(0.5px);*/
    transition: 1s;
    /*opacity: 1;*/
    /*background-color: white;*/
}

.whitepaperInner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 0;*/
    /*right: 0;*/
    height: 0;
    width: 100%;
    /*background: linear-gradient(180deg, #f9f9f9, rgba(0, 252, 255, 0.7));*/
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255),
            rgba(255, 255, 255, 0.7));
    opacity: 1;
    transition: 1s;
}
.whitepaperInner.show::before {
    /*height: 100%;*/
    /*transition: .5s;*/
    /*background: linear-gradient(135deg, #f9f9f9, lightskyblue);*/
    /*opacity: 1;*/
    opacity: 0;
}
.whitepaperInner.show::after {
    /*opacity: 1;*/
    height: 100%;
}
/*.whitepaperInner:hover::before {*/
/*    height: 100%;*/
/*    opacity: 1;*/
/*}*/
.whitepaperInner.show .whitepaperText,
.whitepaperInner.show .whitepaperDesc {
    color: black;
}
.whitepaperInner.show .whitepaperBtn {
    pointer-events: auto;
}
/*.whitepaperInner:hover .whitepaperText,*/
/*.whitepaperInner:hover .whitepaperDesc {*/
/*    color: black;*/
/*}*/
/*.whitepaperInner:hover .whitepaperBtn {*/
/*    pointer-events: auto;*/
/*}*/

.whitepaperText {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    transition: .5s;
    width: 100%;
    z-index: 20;
    /*border: 1px solid black;*/
}
.whitepaperImg {
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    position: relative;
    /*min-height: 33vh;*/
    transition: 1s;
}
.whitepaperDetail {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    overflow: hidden;
    flex-direction: column;
    transition: 1s;
    gap: 1rem;
    color: black;
    position: relative;
    z-index: 20;
}
.whitepaperTitle {
    font-size: 2rem;
}
.whitepaperDesc {
    font-size: 1rem;
    color: white;
    transition: .5s;
}
.contractText {
    align-items: center;
    text-align: center;
}
.contractImg {
    justify-content: center;
}
.whitepaperBtn {
    font-size: 1rem;
    position: relative;
    border: 1px solid black;
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    z-index: 10;
    transition: .5s;
    pointer-events: none;
    color: black;
    opacity: 0;

}
.whitepaperBtn a {
    position: relative;
    z-index: 20;
}
.whitepaperBtn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: black;
    transition: .5s;
    z-index: 1;
}
.whitepaperBtn:hover {
    color: white;
}
.whitepaperBtn:hover::after {
    width: 100%;
}
.hrLine {
    width: 1px;
    align-self: stretch;
    background-color: #999;
    display: none;
}
.whitepaperInner.show .whitepaperImg {
    padding: 0;
    overflow: hidden;
    opacity: 0;
    flex: 0;
}
.whitepaperInner:active .whitepaperImg {
    transform: scale(0.92);
}
.whitepaperInner.show .whitepaperDetail {
    flex: 1;
    padding: 1rem;
}
.whitepaperInner.show .whitepaperBtn {
    border: 1px solid black;
    opacity: 1;
}
.vtLine {
    width: 100%;
    height: 1px;
    background-color: #999;
    z-index: 20;
    transition: .5s;
    display: none;
}

@media (min-width: 1400px) {
    .whitepaperTitle {
        font-size: 2.5rem;
    }
    .whitepaperDesc {
        font-size: 1.2rem;
        color: white;
        transition: .5s;
    }
}

@media (max-width: 768px) {
    .whitepaperTitle { font-size: 1.5rem; }
    .whitepaperDesc { font-size: .8rem; }
    /*.whitepaperInner { height: 50vh; }*/
}

@media (max-width: 576px) {
    .whitepaperWrapper {
        order: 2;
    }
    .whitepaperInner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .whitepaperInner::before {
        background: linear-gradient(180deg, rgba(125, 125, 125, 0.4), rgba(255, 255, 255, 0));
    }

}


