.navbarWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}
.navbar {
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    color: #888;
    height: 3rem;
    transition: .5s ease-in-out;
    border-bottom: 1px solid transparent;
}
.navbar.open {
    border-bottom: 1px solid #555;
}
.navbar a {
    display: flex;
    align-items: center;
    /*align-self: stretch;*/
    position: relative;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: white;
}
.navbar a:hover::after {
    width: 100%;
}
.navbar a:hover {
    color: white;
}

.navbar a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    transition: .5s;
    background-color: white;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar { border-bottom: 0; }
}

/* 햄버거 버튼 (왼쪽 상단 fixed) */
.hamburgerButton {
    position: fixed;
    top: 0;
    left: 2rem;
    z-index: 9999;

    width: 1.5rem;
    height: 4rem;

    /*border: 1px solid rgba(255, 255, 255, 0.18);*/
    /*background: rgba(0, 0, 0, 0.35);*/
    /*backdrop-filter: blur(8px);*/

    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.hamburgerInner {
    width: 100%;
    height: 1rem;
    position: relative;
    cursor: pointer;
}

.hamburgerLine {
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.92);
    /*border-radius: 999px;*/
    transition: .5s ease-in-out;
    position: absolute;
}

.firstLine { top: 0; }
.secondLine { top: 50%; }
.thirdLine { top: 100%; }

/*.hamburgerButton .hamburgerLine:first-child { transform-origin: top left; }*/
.hamburgerButton.open .firstLine { top: 50%; transform: rotate(45deg); }
.hamburgerButton.open .secondLine { opacity: 0; }
.hamburgerButton.open .thirdLine { top: 50%; transform: rotate(-45deg); }



/* nav 한줄 토글: max-height로 접기/펼치기 */
/* 홈에서는 항상 4rem */
.navHome {
    max-height: 4rem;
}

/* 닫힘 */
.navClosed {
    max-height: 0;
}

/* 열림 */
.navOpen {
    max-height: 4rem;
}

/*!* 데스크탑에서는 항상 펼쳐두고 싶으면 (선택) *!*/
/*@media (min-width: 769px) {*/
/*    .hamburgerButton {*/
/*        display: none;*/
/*    }*/

/*    .navbarWrapper {*/
/*        max-height: none;*/
/*        overflow: visible;*/
/*    }*/
/*}*/