.navbarWrapper {
    position: relative;
    width: 100%;
}
.navbar {
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    color: #888;
    height: 3rem;
    border-bottom: 1px solid #555;
}
.navbar a {
    display: flex;
    align-items: center;
    /*align-self: stretch;*/
    position: relative;
}
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: white;
}
.navbar a:hover::after {
    width: 100%;
}
.navbar a:hover {
    color: white;
}

.navbar a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    transition: .5s;
    background-color: white;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar { border-bottom: 0; }
}

/*.navbar li {*/
/*    transition: .5s;*/
/*}*/
/*.navbar li:hover {*/
/*    color: white;*/
/*}*/
/*.currentItem {*/
/*    color: white;*/
/*    transition: .5s;*/
/*}*/