.newsWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9rem;
    transition: .5s;
}
.middleContent {
    opacity: 0;
    animation: 1s fadeIn ease-in-out forwards;
    animation-delay: 2s;
    margin: 4rem 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .newsWrapper { width: 80vw;}
}
@media (max-width: 768px) {
    .newsWrapper { margin-top: 8rem;}
}
