.newsWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    transition: .5s;
    overflow: hidden;
}
.middleContent {
    opacity: 0;
    animation: .5s fadeIn ease-in-out forwards;
    animation-delay: 1s;
    margin: 2rem 0;
    background: linear-gradient(to right, #ddd 0%, #eee 50%, #ddd 100%);
    -webkit-text-fill-color: transparent;background-clip: text;
    color: transparent;
}
.viewMore {
    align-self: flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.viewMoreBtn { position: relative; font-size: 1.2rem; }
.viewMoreBtn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-color: white;
    height: 1px;
    width: 0;
    transition: .5s;
}
.viewMoreBtn:hover::after {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .newsWrapper { width: 100%; }
}
@media (max-width: 768px) {
    .newsWrapper { margin-top: 8rem;}
    .viewMoreBtn { font-size: 1rem; }
}
