.newsWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8.5rem;
    transition: .5s;
}
.middleContent {
    opacity: 0;
    animation: 1s fadeIn ease-in-out forwards;
    animation-delay: 2s;
    margin: 4rem 0;
}
.viewMore {
    align-self: flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.viewMoreBtn { position: relative; font-size: 1.2rem; }
.viewMoreBtn::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-color: white;
    height: 1px;
    width: 0;
    transition: .5s;
}
.viewMoreBtn:hover::after {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .newsWrapper { width: 80vw;}
}
@media (max-width: 768px) {
    .newsWrapper { margin-top: 8rem;}
    .viewMoreBtn { font-size: 1rem; }
}
