.partnersWrapper {
    border: 1px solid #999;
    padding: 2rem;
    transition: .5s;
    border-radius: 1rem;
    margin-top: 8rem;
}
.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
}
.desc {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.wrapper {
    position: relative;
    width: 80vw;
    min-height: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: 1024px;
    /*max-height: 600px;*/
    transition: .5s;
    gap: 0;
    margin-top: 6rem;
}
.wrapper:hover .descElem {
    flex: 1;
}
.bg {
    filter: blur(4px);
    display: none;
}
.elemWrapper {
    /*border:  1px solid #999;*/
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    align-self: stretch;
}
.elemWrapper:hover {
    flex: 2;
}
.elemWrapper:hover .descElem {
    /*width: 100%;*/
    opacity: 1;
    padding: 2rem;
    flex: 1;
    max-height: 100vh;
}
.elemWrapper:hover .startElem {
    max-height: 100vh;
}
.elemWrapper:hover .vob {
    max-height: 100vh;
}
.excElem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    position: relative;
    width: 100%;
    height: 100%;
    flex: 2;
    min-height: 33vw;
}
.excElem1 {
    position: relative;
}

.excElem2 {
    position: relative;
}
.descElem {
    overflow: hidden;
    transition: 1s;
    flex: 0;
    opacity: 0;
    padding: 0;
    text-align: center;
    max-height: 0;
    font-size: .8rem;
}
.centerElem {
    position: relative;
    flex: 0.5;
    width: 100%;
}
.startElem {
    flex: 0;
    overflow: hidden;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    max-height: 0;
}
.startBtn {
    padding: 1rem 2rem;
    color: white;
    border-radius: 3.5rem;
    transform: scale(0);
    opacity: 0;
    transition: .5s;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    z-index: 90;
}
.excElem1 .startBtn { color: #FFD800; border: 2px solid #FFD800; }
.excElem2 .startBtn { color: #03D56F; border: 2px solid #03D56F; }
.startBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 1s;
    z-index: 70;
}
.excElem1 .startBtn::before {
    background-color: #FFD800;
}
.excElem2 .startBtn::before {
    background-color: #03D56F;
}
.startBtn span {
    position: relative;
    z-index: 75;
}
.crossElem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    opacity: .6;
    display: none;
}
.vob {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    pointer-events: none;
    overflow: hidden;
    transition: .5s;
    transform: scale(0);
    max-height: 0;
}
.exchange {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    pointer-events: none;
    transition: .5s;
}
/*.excElem:hover {*/
/*    flex: 2;*/
/*}*/
.excElem:active {
    transform: scale(.9);
}
/*.excElem:hover .vob {*/
/*    flex: 1;*/
/*    opacity: 1;*/
/*    transform: scale(1);*/
/*}*/
/*.excElem:hover .startElem {*/
/*    flex: 1;*/
/*}*/
/*.excElem:hover .startBtn {*/
/*    transform: scale(1);*/
/*    opacity: 1;*/
/*}*/
/*.excElem:hover {*/
/*    min-height: 40vw;*/
/*}*/
.elemWrapper:hover .excElem .vob {
    flex: 1;
    opacity: 1;
    transform: scale(1);
}
.elemWrapper:hover .excElem .startElem {
    flex: 1;
}
.elemWrapper:hover .excElem .startBtn {
    transform: scale(1);
    opacity: 1;
}

.svgContainer {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
}

.btnCircleProg {
    transition: stroke-dasharray 3s, stroke-dashoffset 3s;
}

.elemWrapper:hover .svgContainer .btnCircleProg {
    stroke-dasharray: 401;
    stroke-dashoffset: 0; /* Set stroke-dashoffset to 0 */
}
.btnCircle {}
.circleElem {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/*.wrapper:hover {*/
/*    gap: 2rem;*/
/*}*/
.wrapper:hover .excElem {
    gap: 0;
}
.wrapper:hover .crossElem {
    opacity: 0;
}
.excElem2 .startBtn:hover {
    color: white;
}
.excElem1 .startBtn:hover {
    color: black;
}

.startBtn:hover::before {
    width: 100%;
}
.startElem:hover ~ .circleElem .svgContainer .btnCircleProg{
    stroke-dasharray: 401;
    stroke-dashoffset: 0; /* Set stroke-dashoffset to 0 */
}
.elemWrapper:hover .vob { align-items: flex-end; }
.elemWrapper:hover .exchange { align-items: flex-start; }

@media (min-width: 1200px) {
    .newsWrapper {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .title { font-size: 2rem; }
    .wrapper { width: 100%; flex-direction: column; margin-top: 2rem; }
    .startBtn {
        font-size: 1rem;
        padding: 1.5rem 2.5rem;
    }
    .wrapper:hover {
        min-height: 140vw;
    }
    .excElem { width: 66vw; min-height: 40vw; }
    .elemWrapper:hover .descElem {
        /*width: 100%;*/
        opacity: 1;
        padding: 1.5rem;
        flex: 1;
        max-height: 100vh;
    }
}

@media (max-width: 576px) {
    .title { font-size: 1.5rem;}
    .wrapper {
        flex-direction: column;
    }
    .wrapper:hover {
        min-height: 240vw;
    }
    .elemWrapper {
        width: 100%;
    }
    .excElem {
        width: 80vw;
        min-height: 50vw;
    }
    .elemWrapper:hover .descElem {
        /*width: 100%;*/
        opacity: 1;
        padding: 1rem;
        flex: 1;
        max-height: 100vh;
    }
}




