/*.teamWrapper {*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    margin-top: 8rem;*/
/*    flex-direction: column;*/
/*    padding: 2rem;*/
/*}*/

.teamWrapper {
    min-height: 100vh;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    padding: 2rem;
}

@media (max-width: 768px) {
    .teamWrapper { padding: 1.5rem; }
}
@media (max-width: 576px) {
    .teamWrapper { padding: 1rem; }
}