.termsWrapper {
    padding: 2rem;
    min-height: 100vh;
}
.termsTitle {
    margin-top: 12rem;
    font-size: 1.5rem;
    text-align: center;
}
.termsContent {
    text-align: left;
    margin: 6rem 4rem;
}
.termsContent h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.termsContent h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.termsContent h4 {
    font-size: 1rem;
    margin-top: 1rem;
}

.termsContent p,
.termsContent ul {
    background: linear-gradient(to right, #ddd 0%, #bbb 50%, #ddd 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
    font-size: .8rem;
    margin-top: .25rem;
}
.termsContent hr {
    margin: 1rem 0;
}

.loadingWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 42px;
    height: 42px;
    border: 4px solid #333;
    border-top: 4px solid #aaa;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 1200px) {
    .termsContent {
        margin: 6rem 8rem;
    }
}

@media (min-width: 1200px) {
    .termsWrapper {
        width: 80vw;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .termsWrapper {
        padding: 1.5rem;
    }
    .termsTitle {
        transition: .5s;
    }
}
@media (max-width: 576px) {
    .termsWrapper {
        padding: 1rem;
    }
    .termsTitle {
        font-size: 1.5rem;
    }
    .termsContent h2 {
        font-size: 1.2rem;
    }
    .termsContent {
        margin: 4rem 0;
    }
}
