.termsWrapper {
    padding: 2rem;
}
.termsTitle {
    margin-top: 10rem;
    font-size: 2rem;
    text-align: center;
}
.termsContent {
    text-align: left;
    margin-top: 2rem;
}
.termsContent h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
@media (min-width: 1200px) {
    .termsWrapper {
        width: 80vw;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .termsWrapper {
        padding: 1.5rem;
    }
    .termsTitle {
        transition: .5s;
    }
}
@media (max-width: 576px) {
    .termsWrapper {
        padding: 1rem;
    }
    .termsTitle {
        font-size: 1.5rem;
    }
    .termsContent h2 {
        font-size: 1.2rem;
    }
}
