.newsWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    /*overflow: hidden;*/
}

@media (min-width: 1200px) {
    .newsWrapper {
        width: 80vw;
        margin: auto;
        max-width: 1280px;
    }
}

@media (max-width: 768px) {
    .newsWrapper { padding: 1.5rem; }
}
@media (max-width: 576px) {
    .newsWrapper { padding: 1rem; }
}