.devsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.imgElem {
    transition: .5s;
}
.textElem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.checkoutBtn {
    position: relative;
    font-size: 1.2rem;
}
.checkoutBtn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #999;
    transition: .5s;
}
.checkoutBtn:hover::after {
    width: 100%;
}
.checkoutBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: .5s;
}
.textStyle {
    background: linear-gradient(to right, #ddd 0%, #bbb 50%, #999 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
}

@media (max-width: 576px) {
    .devsWrapper {
        flex-direction: column;
        margin-top: 8rem;
    }
    .imgElem {
        width: 50vw;
    }
    .textElem {
        align-items: center;
        margin-top: 1rem;
    }
    .textElem > div {
        text-align: center;
    }
    .checkoutBtn {
        font-size: 1rem;
    }
}