.devsInner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    padding: 2rem;
    border-radius: 8px;
    /*min-height: 66vh;*/
    /*max-height: 66vh;*/
    gap: 1rem;
    /*cursor: pointer;*/
}
.imgWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s;
    align-self: stretch;
    position: relative;
}
.imgElem {
    padding: 10%
}
.devsInner.show > .imgWrapper {
    flex: 0;
}
.devsInner:active > .imgWrapper {
    transform: scale(0.92);
}
.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 1s;
}
.descWrapper {
    flex: 0;
    overflow: hidden;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0;
    gap: 2rem;
}
.devsInner.show > .descWrapper {
    flex: 1;
    max-height: 66%
}
.checkoutBtn {
    position: relative;
    font-size: 1.2rem;
}
.checkoutBtn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #999;
    transition: .5s;
}
.checkoutBtn:hover::after {
    width: 100%;
}
.checkoutBtn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: .5s;
}
.textStyle {
    background: linear-gradient(to right, #ddd 0%, #bbb 50%, #999 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
}

@media (min-width: 1400px) {
    .devsMainTitle { font-size: 3rem;}
    .devsMainSubTitle  {font-size: 1.5rem; }
    .checkoutBtn { font-size: 1.5rem; }
}


@media (max-width: 576px) {
    .devsWrapper {
        padding-bottom: 150% !important;
    }
    .devsInner {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        gap: 0;
        padding: 1rem;
    }
    .devsInner {
        background: linear-gradient(90deg, rgba(125,125,125,0.4), rgba(255,255,255,0));
    }
    .descWrapper {
        height: 100%;
        max-height: 100%;
        width: 0;
    }
    .devsInner.show > .descWrapper {
        width: 90%;
        text-align: center;
        flex: 1;
        justify-content: flex-start;
    }
    .imgElem {
       padding: 5%;
    }
    .textElem {
        align-items: center;
        margin-top: 1rem;
    }
    .textElem > div {
        text-align: center;
    }
    .checkoutBtn {
        font-size: 1rem;
    }
}