/*.logoWrapper {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    left: 2rem;*/
/*    top: 50%;*/
/*    transform : translateY(-50%);*/
/*    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);*/
/*    z-index: 160;*/
/*}*/
.logoWrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 160;
    height: 4rem;
    border-bottom: 1px solid #555;
}
.logoElem {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logoText {
    margin-left: .5rem;
    margin-top: 6px;
    letter-spacing: 4px;
    color: white;
    font-size: 1.5rem;
}

@media (min-width : 1400px) {
    .logoText { font-size: 2rem; }
}

@media (min-width: 1200px) {
    .logoWrapper {
        transition: .5s;
        /*left: calc(10vw + 2rem);*/

    }
}
@media (min-width: 1500px) {
    .logoWrapper {
        /*left: calc((100vw - 1200px) / 2 + 2rem);*/
    }
}


