.heroSection {
    position: relative;
    height: 1080vh;
    background: rgba(30,30,30,1);
}

.vision {
    position: fixed;
    /*top: 12rem;*/
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
    max-width: 1080px;
    width: 100%;
    padding: 2rem;
}

@media (min-width: 1400px) {
    .vision {
        max-width: 1280px;
        padding: 2rem;
    }
}


@media (min-width: 769px) {
    .heroSection {
        height: 450vh;
    }  /* PC만 줄임 */
    .vision { padding: 2rem; }
}

@media (max-width: 768px) {
    .vision {
        /*top: 8rem;*/
        width: 100%;
    }
}

@media (max-width: 576px) {
    .vision { padding: 1rem; }
}