.chart {
    width: 50vw;
    height: 50vw;
    position: relative;
    transition: .5s;
    margin: auto;
    max-width: 575px;
    max-height: 575px;
}
.doughnut {
    width: 100%;
    position: relative;
    z-index: 75;
}
.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 33%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-direction: column;
    opacity: 0;
    z-index: 50;

}
.centerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: translate(-50%, -50%);
    width: 33%;
    height: 33%;
    border: 2px solid #bbb;
    border-radius: 50%;
    /*background-color: rgba(29,252,255, 0.5);*/
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    opacity: 0;
}
.ml {
    margin-left: 4px;
}
.centerText.show,
.centerImg.show {
    opacity: 1;
}
.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 33%;
    z-index: 80;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .5s;
}
.labelText {
    transition: .5s;
    text-align: center;
    font-size: .8rem;
    color: #1DFCFF;
}
.contentText {
    transition: .5s;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.valueText {
    transition: .5s;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.isClicked {
    transform: scale(.8) translate(-50%, -50%);
}
.centerDiv:hover ~ .centerImg {
    border: 2px solid rgba(255, 255, 255, 0.75);
}
.centerDiv:hover ~ .centerText .contentText,
.centerDiv:hover ~ .centerText .valueText {
    opacity: 0.75 !important;
}
@media (max-width: 768px) {
    .chart {
        width: 75vw;
        height: 75vw;
    }
}
@media (max-width: 576px) {
    .chart {
        width: 90vw;
        height: 90vw;
    }
    .labelText {
        font-size: .6rem;
    }
    .contentText {
        font-size: 1.2rem;
    }
    .valueText {
        font-size: .8rem;
    }
}