.chart {
    width: 50vw;
    height: 50vw;
    position: relative;
    transition: .5s;
    margin: auto;
}
.doughnut {
    width: 100%;
    position: relative;
    z-index: 75;
}
.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    /*border: 1px solid white;*/
    transform: translate(-50%, -50%);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-direction: column;
    opacity: 0;
    z-index: 50;
}
.centerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 33%;
    /*border: rgba(29,252,255);*/
    border: 1px solid white;
    /*box-shadow: inset 0 0 2px 8px rgba(29,252,255,0.4);*/
    border-radius: 50%;
    background-color: rgba(29,252,255, 0.6);
    transform: translate(-50%, -50%);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 33%;
    z-index: 100;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.labelText {
    transition: .5s;
    text-align: center;
    font-size: .8rem;
    color: #1DFCFF;
}
.contentText {
    transition: .5s;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.valueText {
    transition: .5s;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
@media (max-width: 768px) {
    .chart {
        width: 75vw;
        height: 75vw;
    }
}
@media (max-width: 576px) {
    .chart {
        width: 90vw;
        height: 90vw;
    }
    .labelText {
        font-size: .6rem;
    }
    .contentText {
        font-size: 1.2rem;
    }
    .valueText {
        font-size: .8rem;
    }
}