.footer {
    width: 100%;
    flex-direction: column;
    /*border-top: 1px solid rgba(255,255,255,0.4);*/
    /*box-shadow: 0px 0px 2px 4px rgba(255,255,255,0.2);*/
    border-top: 1px solid #555;
    display: none;
}
.footerLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    gap: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 1rem 1.5rem;
    transition: .5s;
}
.footerLevel:last-child {
    border-bottom: 0;
}
.levelLeft {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.levelRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.snsLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconX {
    width: 1rem;
    height: 1rem;
    background: rgba(255,255,255,0.7);

    -webkit-mask: url('/x_logo_white.png') no-repeat center / contain;
    mask: url('/x_logo_white.png') no-repeat center / contain;
}
.iconMedium {
    width: 1rem;
    height: 1rem;
    background: rgba(255,255,255,0.7);

    -webkit-mask: url('/medium_logo_white.png') no-repeat center / contain;
    mask: url('/medium_logo_white.png') no-repeat center / contain;
}
.footerElem {
    position: relative;
    cursor: pointer;
    font-size: .8rem;
    color: rgba(255,255,255,0.7);
    transition: .5s;
}
.footerElem::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(180,180,30);
    transition: .5s;
}
.footerElem:hover {
    color: rgba(180,180,30);
}
.footerElem:hover::before {
    width: 100%;
}
.snsIcon {
    transition: .5s;
    margin-right: 2px;
}
.footerElem:hover .snsIcon {
    background-color: rgba(180,180,30);
}

@media (max-width: 768px) {
    .footer {
        display: flex;
    }
}
@media (max-width: 576px) {
    .footerLevel {
        padding: 1rem 1rem;
    }
}