.newsWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9rem;
    transition: .5s;
}
.newsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 66vh;
    min-height: 420px;
    opacity: 1;
    /*animation: fadeIn 2s forwards;*/
}
.newsContent > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    transition: .5s;
    position: relative;
    opacity: 1;
}
/*.newsElem.even {*/
/*    animation: 1s fromUp ease-in-out forwards;*/
/*}*/
/*.newsElem.odd {*/
/*    animation: 1s fromDown ease-in-out forwards;*/
/*}*/
/*.newsContent > div:nth-child(1) {*/
/*    background-color: #666;*/
/*    animation: 2s fromUp ease-in-out forwards;*/
/*}*/
/*.newsContent > div:nth-child(2) {*/
/*    background-color: #999;*/
/*    animation: 2s fromDown ease-in-out forwards;*/
/*}*/
/*.newsContent > div:nth-child(3) {*/
/*    background-color: #aaa;*/
/*    animation: 2s fromUp ease-in-out forwards;*/
/*}*/
/*.newsContent > div:nth-child(4) {*/
/*    background-color: #fff;*/
/*    animation: 2s fromDown ease-in-out forwards;*/
/*}*/
.newsContent > div.hide {
    flex: 0;
}
.newsContent > div.active {

}
.newsElem {
    position: relative;
    z-index: 20;
    overflow: hidden;
}
.newsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 25;
    display: flex;
    align-items: flex-end;
}
.overlayCenter {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
}
.active .overlayCenter {
    justify-content: space-between;
}
.newsDetail {
    display: flex;
    flex-direction: row;
    visibility: hidden;
    justify-content: space-between;
    height: 0;
    font-size: 1rem;
    position: relative;
}
.newsClick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;
    transition: .5s;
}
.newsClick.hide {
    z-index: 45;
}
.newsClick.showOpen {
    background-color: rgba(0,0,0,0.5);
}
.active .newsDetail {
    visibility: visible;
    height: auto;
}
.detailLeft {
    width: 50%;
}
.detailRight {

}
.publisherMobile {
    display: none;
    font-size: .8rem;
}
.detailDate {
    font-size: .8rem;
    line-height: 1.2;
}
.detailDesc {
    margin-top: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    width: 66vw;
    min-width: 66vw;
    max-width: 66vw;
}
.mobileOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: block;
    z-index: 100;
}
.closeFloating {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 1rem;
    cursor: pointer;
}
.closeBtn {
    position: relative;
    z-index: 150;
    transition: .5s;
}
.closeBtn.hide {
    display: none;
}
.closeBtn.showOpen {
    transform: rotate(180deg);
}
.newsBody {
    position: relative;
}
.dateMobile {
    display: none;
    margin-bottom: 1rem;
}
.newsTitle {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.newsTitle h2 {
    font-size: 1.5rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 1rem;
    overflow: hidden;
}
.newsTitle p {
    width: 33.33%;
    display: none;
    text-align: right;
    font-size: .8rem;
}
.active .newsTitle p {
    display: block;
}
.newsSubtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.publisher {
    margin-top: 10px;
    width: 75%;
    font-size: 1rem;
    line-height: 1.2;
}
.learnDetail {
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
    visibility: hidden;
    cursor: pointer;
    position: relative;
    z-index: 50;
    display: none;
}
.active .learnDetail {
    visibility: visible;
    display: flex;
}
.learnDetailSpan {
    margin-right: .5rem;
    position: relative;
    transform: translateX(16px);
    transition: .5s;
}
.learnDetailSpan::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: white;
}
.learnDetail:hover .learnDetailSpan,
.learnDetail.showOpen .learnDetailSpan {
    transform: translateX(0);
}
.learnDetail:hover .learnDetailSpan::after,
.learnDetail.showOpen .learnDetailSpan::after {
    width: 100%;
}

.rightArrow {
    opacity: 0;
    margin-top: .25rem;
    transition: .5s;
}
.learnDetail:hover .rightArrow,
.learnDetail.showOpen .rightArrow {
    opacity: 1;
}

.middleContent {
    padding: 2rem 0;
    line-height: 1.5;
    opacity: 1;
    /*animation: fadeIn 1s forwards;*/
    /*animation-delay: 2s;*/
}

@keyframes fromUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fromDown {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .newsWrapper { margin-top: 8rem;}
    .newsContent {
        flex-direction: column;
        height: 75vh;
        transition: .5s;
    }
    .closeBtn { display: block; }
    .newsElem.even {
        /*animation: 1s ease-in-out fromLeft forwards;*/
    }
    .newsElem.odd {
        /*animation: 1s ease-in-out fromRight forwards;*/
    }
    .newsElem img {
        object-position: top center;
    }
    .newsElem.active img {
        object-position: center;
    }
    .overlayCenter {
        padding: 1rem 1rem;
        justify-content: center;
    }
    .active .overlayCenter {
        padding: 4rem 1rem;
        padding-bottom: 8rem;
    }
    .newsTitle { padding-bottom: 0; }

    .newsTitle h2 {
        font-size: 1.2rem;
        -webkit-line-clamp: 2;
        margin-bottom: 0;
    }
    .active .newsTitle h2 {
        -webkit-line-clamp: 3;
        text-decoration: underline;
        font-size: 1.5rem;
    }
    .newsTitle p {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        text-align: left;
        width: auto;
    }
    .newsTitle {
        border-bottom: 0;
    }
    .detailLeft { width: 100%; }
    .detailDesc {
        font-size: 1rem;
        -webkit-line-clamp: 3;
        width: 100%;
        min-width: auto;
        max-width: none;
        /*line-height: 1.2;*/

    }
    .publisher {
        margin-top: 0;
        font-size: .8rem;
    }
    .active .publisher { display: none; }
    .newsDetail { order: 2; position: static; }
    .newsBody {
        order: 1;
        position: static;
        width: 100%; height: 100%; display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .active .closeBtn { position: absolute; top: 1rem; right: 1rem; }
    .active .learnDetail {
        font-size: 1rem;
        position: absolute;
        bottom: 3em;
        left: 1rem;
        width: 50%;
        justify-content: flex-start;
    }
    .active .rightArrow { opacity: 1;}
    .active .learnDetailSpan { transform: none; }
    .active .dateMobile { display: block; }
    .active .detailDate { display: none; }
    .active .publisherMobile { display: block; }
}

@media (max-width: 576px) {
    .newsContent { height: 75vh; }
    .detailDesc {
        font-size: .8rem;
    }
}
