.breadcrumbWrapper {
    position: absolute;
    top: 8rem;
    left: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 2rem;
}
.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
}
.history {

}
.breadCrumbElem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-left: .5rem;
    transition: .5s;
}
.backButton {
    transition: .5s;
    opacity: .7;
}
.backButton:hover {
    transform: translateX(-.5rem);
    opacity: 1;
}
.backArrow {
    transform: rotate(270deg);
    width: 24px;
    height: 24px;
}
.forwardArrow {
    transform: rotate(90deg);
    width: 24px;
    height: 24px;
}
.arrowImg {
    opacity: 0.7;
}
.homeImg {
    opacity: 0.7;
    transition: .5s;
}
.homeImg:hover {
    opacity: 1;
}


/*.current { opacity: 1; }*/
/*.previous { opacity: .5; transition: .5s;}*/
/*.previous:hover { opacity: 1; }*/

@media (min-width: 1200px) {
    .breadcrumbWrapper {
        width: 80vw;
        max-width: 1280px;
        margin: auto;
        padding: 0 2rem;
    }
}
@media (max-width : 768px) {
    .breadcrumb {
        transform-origin: top left;
        transform: scale(0.8);
    }
    .breadcrumbWrapper {
        right: 1.5rem;
        top: 6rem;
        left: 1.5rem;
    }
}
@media (max-width : 578px) {
    .breadcrumb {
        left: 1rem;
        right: 1rem;
    }
    .backArrow {
        width: 16px;
        height: 16px;
    }
}
