.mediaWrapper {
    margin-top: 10rem;
    width: 100%;
    align-self: flex-start;
}
.header {
    padding: 1rem 0;
    border-bottom: 1px solid #999;
    position: sticky;
    position: -webkit-sticky;
    top: 5rem;
    background-color: black;
    z-index: 80;
}
.headerTitle {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}
.logoPlain {
    transform-origin: left center;
    transform: scale(.8);
    opacity: 0;
}
.hashTags { display: none; gap: .5rem; opacity: 0; }
.hashTags span { font-size: .8rem; }
.headerDesc {
    margin-top: 1rem;
    font-size: .8rem;
    opacity: 0;
}
.main { opacity: 0; }
.yearWrapper {
    margin-top: 2rem;
}
.year { font-size: 2rem; }
.itemWrapper {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.mediaItem {
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.horizontal {
    border-color: #999;
}
.about {
    margin-top: 4rem;
}
.mediaAbout {
    color: #bbb;
    font-size: .8rem;
}
.mediaHeader {
    font-size: 1.2rem;
}
.mediaDesc {
    margin-top: 1rem;
    font-size: .8rem;
}
.textGradient {
    background: linear-gradient(to right, #ddd 0%, #bbb 50%, #999 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
}

.fadeInAnimation {
    animation: fadeIn 1s ease-in-out forwards;
}
.delayedAnimation {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}
.moreDelayedAnimation {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2s;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (min-width: 1200px) {
    .mediaWrapper { width: 80vw; }
}
@media (min-width: 1400px) {
    .headerTitle { font-size: 2rem; }
    .headerDesc { font-size: 1.2rem; }
    .year { font-size: 2.5rem; }
    .mediaAbout { font-size: 1rem;}
    .mediaHeader { font-size: 1.5rem; }
    .mediaDesc { font-size: 1rem; }
}
@media (max-width: 768px) {
    .mediaWrapper { margin-top: 8rem; }
    .year { font-size: 1.5rem; }
    .mediaAbout { font-size: .8rem;}
    .mediaHeader { font-size: 1.2rem; }
    .headerTitle { flex-direction: column; align-items: flex-start; }
    .logoPlain { transform-origin: bottom left; transform: scale(.6); }
    .hashTags { display: flex; }
    .header { position: static; }
}
@media (max-width: 576px) {
    .mediaHeader { font-size: 1rem; }
    .headerTitle { font-size: 1.2rem; }
}

