@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "NotoSerifKR";
    src: url("/fonts/Noto_Serif_KR/NotoSerifKR-VariableFont_wght.woff2") format("woff2");
    font-weight: 200 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "NotoSerifJP";
    src: url("/fonts/Noto_Serif_JP/NotoSerifJP-VariableFont_wght.woff2") format("woff2");
    font-weight: 200 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "NotoSerifSC";
    src: url("/fonts/Noto_Serif_SC/NotoSerifSC-VariableFont_wght.woff2") format("woff2");
    font-weight: 200 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Vollkorn";
    src: url("/fonts/Vollkorn/Vollkorn-VariableFont_wght.woff2") format("woff2");
    font-weight: 200 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Kaisei_HarunoUmi";
    src: url("/fonts/Kaisei_Harunoumi/KaiseiHarunoUmi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* { box-sizing: border-box; margin: 0; padding: 0;}
html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

body {
    font-family:
            "NotoSerifKR",
            "Apple SD Gothic Neo",
            "Malgun Gothic",
            serif;
}

html[lang="jp"] body {
    font-family:
            "NotoSerifJP",
            "Hiragino Mincho ProN",
            "Yu Mincho",
            serif;
}

html[lang="cn"] body {
    font-family:
            "NotoSerifSC",
            "Songti SC",
            serif;
}

body {
    /*background-color: black;*/
    /*background: linear-gradient(to right, rgba(120, 120, 120, 0.4), rgba(120, 120, 120, 0.2));*/
    background: rgba(30, 30, 30, 1);
    color: white;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
}
body::-webkit-scrollbar-thumb {
    background-color: #999;
    filter: brightness(1.1) contrast(0.9) saturate(1.1) blur(0.5px);
    border-radius: 6px; /* border radius of the thumb */
    transition: .5s;
    border: 4px solid #000;
}
body::-webkit-scrollbar-thumb:hover {
    border: 2px solid #000;
    background-color: #ddd;
}
/*body::-webkit-scrollbar-thumb:active {*/
/*    background-color: #fff; !* color of the thumb when active *!*/
/*}*/
:root{
    --header-h-measured: 0px;
    --header-h: var(--header-h-measured);
}
@media (min-width: 1400px) {
    body {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    :root {
        --header-h: 8rem;
    }
}

@media (max-width: 576px) {
    body {
        font-size: .8rem;
    }
}

