@tailwind base;
@tailwind components;
@tailwind utilities;
* { box-sizing: border-box; margin: 0; padding: 0;}
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
}
body::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
}
body::-webkit-scrollbar-thumb {
    background-color: #999;
    filter: brightness(1.1) contrast(0.9) saturate(1.1) blur(0.5px);
    border-radius: 6px; /* border radius of the thumb */
    transition: .5s;
    border: 4px solid #000;
}
body::-webkit-scrollbar-thumb:hover {
    border: 2px solid #000;
    background-color: #ddd;
}
/*body::-webkit-scrollbar-thumb:active {*/
/*    background-color: #fff; !* color of the thumb when active *!*/
/*}*/
@media (min-width: 1400px) {
    body {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    body {
        font-size: .8rem;
    }
}

