.mainWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem;
}
.subWrapper {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: .5s;
}
.mainText {
    margin: 0 auto;
    padding: 0 2rem;
    line-height: 1.2;
}
.mainText > div {
    text-align: center;
    font-size: 2.5rem;
}
.mainText > div:nth-child(1) {
    font-size: 2rem;
}
.mainText > div:nth-child(2) {
    margin-top: 1rem;
}
.subText {
    margin: 0 auto;
    margin-top: 20vh;
    padding: 0 2rem;
    background: linear-gradient(to right, #888 0%, #ddd 50%, #888 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
    line-height: 2;
}
.subText > div {
    text-align: center;
}

.fadeInAnimation {
    animation: fadeIn 1s ease-in-out forwards;
}
.delayedAnimation {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}
.moreDelayedAnimation {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2s;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .mainWrapper {
        width: 80vw;
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .subWrapper {
        width: 80vw;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .mainWrapper { padding: 1.5rem; }
    .subWrapper { padding: 1.5rem; }
}

@media (max-width: 575px) {
    .mainWrapper {
        padding: 1rem;
    }
    .subWrapper {
        padding: 1rem;
    }
    .mainText {
        margin: 0 auto;
        padding: 0 2rem;
    }
    .mainText > div {
        text-align: center;
        font-size: 2rem;
    }
    .mainText > div:nth-child(1) {
        font-size: 1.5rem;
    }
}