.mainWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.subWrapper {
    /*min-height: 75vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: .5s;
}
.subWrapperPlus {
    /*min-height: 75vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: .5s;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1028px;
    margin: auto;
}
.subWrapperPlus > div {
    flex: 1 1 33%;
}
.visionWrapper {
    min-height: auto;
}
.mainText {
    margin: 0 auto;
    padding: 0 8rem;
    line-height: 1.2;
    position: relative;
}
.mainText > div {
    text-align: center;
}
.mainText > div:nth-child(1) {
    font-size: 2rem;
}
.mainText > div:nth-child(2) {
    font-size: 3rem;
}
.mainText > div:nth-child(2) {
    margin-top: 1rem;
}
.subText {
    font-size: 1rem;
    /*position: absolute;*/
    top: 100%;
    width: 100%;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin: 0 auto;
    padding-top: 2rem;
    background: linear-gradient(to right, #ddd 0%, #eee 50%, #ddd 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
    line-height: 1.5;
}
.subText > div {
    text-align: center;
}

.fadeInAnimation {
    animation: fadeIn .5s ease-in-out forwards;
}
.delayedAnimation {
    animation: fadeIn .5s ease-in-out forwards;
    animation-delay: .5s;
}
.moreDelayedAnimation {
    animation: fadeIn .5s ease-in-out forwards;
    animation-delay: 1s;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media (min-width: 1200px) {
    .mainWrapper {
        width: 80vw;
        margin: auto;
        max-width: 1280px;
    }
    .subWrapper {
        width: 80vw;
        margin: auto;
        max-width: 1280px;
    }
    .subWrapperPlus {
        width: 80vw;
        margin: auto;
        max-width: 1280px;
    }
}

@media (min-width: 1400px) {

    .mainText > div:nth-child(1) {
        font-size: 2.5rem;
    }
    .mainText > div:nth-child(2) {
        font-size: 4rem;
    }
    .subText {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}

/*@media (max-width: 1024px) {*/
/*    .subWrapperPlus { flex-wrap: wrap; }*/
/*    .subWrapperPlus > div {*/
/*        flex: 1 1 33%*/
/*    }*/
/*}*/


@media (max-width: 768px) {
    .mainWrapper { padding: 1.5rem; }
    .subWrapper { padding: 1.5rem; }
    .subWrapperPlus { padding: 1.5rem; }
    .mainText { padding: 0 4rem;}
    .mainText > div:nth-child(1) {
        font-size: 1.5rem;
    }
    .mainText > div:nth-child(2) {
        font-size: 3rem;
    }
    .subText {
        line-height: 1.5;
        font-size: 1rem;
    }
}

@media (max-width: 575px) {
    .mainWrapper {
        padding: 1rem;
        /*min-height: 75vh;*/
    }
    .subWrapper {
        padding: 1rem;
        /*min-height: 50vh;*/
    }
    .subWrapperPlus {
        padding: 1rem;
        flex-direction: column;
    }
    .subWrapperPlus > div {
        flex: 1 0 auto;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }
    .mainText {
        margin: 0 auto;
        padding: 0 2rem;
    }
    .mainText > div:nth-child(1) {
        font-size: 1rem;
    }
    .mainText > div:nth-child(2) {
        font-size: 2rem;
    }
    .subText {
        line-height: 1.5;
        font-size: .8rem;
    }
}