.detailWrapper {
    max-width: 840px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
}

.blogDetail {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.blogHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.blogMeta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: sticky;
    top: 9rem;
}

.blogFooter {
    margin-bottom: 0.5rem;
}

.blogDate {
    font-size: 0.9rem;
    color: #888;
}

.blogTitle {
    font-size: 1.8rem;
    font-weight: 700;
}

.blogSummary {
    font-size: 1rem;
    color: #aaa;
}

.blogAuthor {
    font-size: 0.95rem;
    color: #bbb;
}

.tagRow {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.tag {
    font-size: 0.8rem;
    padding: 0.25rem 0.6rem;
    border-radius: 999px;
    border: 1px solid #555;
    transition: .5s;
}
.tag:hover {
    border: 1px solid #aaa;
}

.thumbnailWrapper {
    margin-top: 1rem;
}

.thumbnail {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* 본문 안의 html 공통 스타일 */
.blogSection {
    margin-top: 1.5rem;
    flex: 2;
}

.blogContent img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
}

.blogContent p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

.blogContent h4,
.blogContent h5,
.blogContent h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
}

.blogContent ul,
.blogContent ol {
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}
.blogContent hr {
    margin: 2rem 0;
}
.blogContent figure {
    text-align: left;
}
.blogContent figure > img {
    display: block;
    margin: 1rem 0;
    width: 33%;
}

/* 예: globals.css or blog detail용 css */
.content-scroll-box {
    max-height: 700px; /* 원하면 조절 */
    overflow-y: auto;
}

.content-scroll-box img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
}

.content-scroll-box p {
    margin-bottom: 1rem;
    line-height: 1.7;
}

.blogDetail {
    margin-top: 10rem;
}

.colorWhite { color: white; }

@media (min-width: 1200px) {
    .blogDetail {
        width: 80vw;
    }
}


@media (max-width: 768px) {
    .blogDetail {
        margin-top: 7rem;
        flex-direction: column;
    }
    .blogMeta { position: static;  }
    .blogHeader { flex: auto; }
    .blogSection { flex: auto; }

}