.blogWrapper {
    width: 100%;
    margin-top: 10rem;
}
.blogFirst {
    width: 100%;
}
.blogList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.blogItem {
    flex: 1 0 30%;
}
.firstElem {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
}
.left {
    flex: 1;
    width: 30%;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    flex: 2;
    width: 60%;
    /*border: 1px solid white;*/
}
.firstElem .blogDate {
    font-size: .8rem;
    margin-top: .5rem;
}
.blogDate {
    font-size: .8rem;
}

.firstElem .blogSummary {
    font-size: .8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.blogSummary {
    font-size: .8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.firstElem .blogAuthor {
    margin-top: 1rem;
    font-size: .8rem;
}
.blogAuthor {
     margin-top: 1rem;
     font-size: .8rem;
 }

.imageElem {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}
.tagElem {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-bottom: .25rem;
}
.firstElem .blogTitle {
    color: white;
    display: inline;
    margin-top: .75rem;
    font-size: 1.2rem;
    position: relative;
}
.blogTitle {
    color: white;
    display: inline-block;
    margin-top: .75rem;
    font-size: 1.2rem;
}
.inline {
    position: relative;
    display: inline;
}
.inline::after {
    content: '';
    position: absolute;
    bottom: -.25rem;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: .5s;
}
.blogTitle:hover .inline::after {
    width: 100%;
}
.blogTitle.hover .inline::after {
    width: 100%;
}
.svgArrow {
    transform: rotate(90deg);
}
.iconElem {
    position: absolute;
    display: inline;
    right: -1.5rem;
    transform: translateY(35%);
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0;
    max-width: 0;
    transition: max-width .5s ease-out, opacity .5s ease-out;
}
.blogTitle:hover .iconElem {
    opacity: .8;
    max-width: 1.5rem;
}

.filterBar {
    margin-top: 4rem;
    padding: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    background-color: rgba(30, 30, 30, 1);
    z-index: 80;
}

@media (min-width: 1200px) {
    .blogList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .blogList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .blogList {
        grid-template-columns: repeat(1, 1fr);
    }
}