.blogWrapper {
    width: 100%;
    margin-top: 9rem;
}
.blogFirst {
    width: 100%;
}
.blogList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    grid-auto-rows: 1fr;
}
.firstElem {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 4rem;
}
.left {
    flex: 1;
    /*width: 30%;*/
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    flex: 2;
    /*width: 60%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*border: 1px solid white;*/
}
.firstElem .blogDate {
    font-size: .8rem;
    margin-top: .5rem;
}
.blogDate {
    font-size: .8rem;
}
.blogItemInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.firstElem .blogSummary {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.firstElem .blogSummaryMobile { display: none; }
.blogSummary {
    font-size: .8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.firstElem .blogAuthor {
    margin-top: 1rem;
    font-size: 1rem;
}
.blogAuthor {
     margin-top: 1rem;
     font-size: .8rem;
 }
.imageLink {
    width: 100%;
    height: 100%;
}
.imageElem {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
.tagElem {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-bottom: .25rem;
}
.tagElemMobile { display: none; }
.tag {
    font-family: 'Noto Sans', sans-serif;
    font-size: .8rem;
    position: relative;
    cursor: pointer;
    margin-left: .5rem;
}
.tag:first-child { margin-left: 0; }
.tag::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: white;
    transition: .5s;
    margin-left: .5rem;
}
.tag:hover::after {
    width: 0;
}
.firstElem .blogTitle {
    color: white;
    margin: 1rem 0;
    font-size: 1.5rem;
    position: relative;
}
.firstElem .blogTitle > a {
    color: white;
}
.blogTitle {
    color: white;
    display: inline-block;
    font-size: 1.2rem;
}
.inline {
    position: relative;
    display: inline;
}
.inline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: .5s;
}
.blogTitle:hover .inline::after {
    width: 100%;
}
.blogTitle.hover .inline::after {
    width: 100%;
}
.svgArrow {
    transform: rotate(90deg);
}
.iconElem {
    position: absolute;
    display: inline;
    transform: translate(50%, 50%);
    width: 1.2rem;
    height: 1.2rem;
    opacity: 0;
    max-width: 0;
    transition: max-width .5s ease-out, opacity .5s ease-out;
}
.blogTitle:hover .iconElem {
    opacity: .8;
    max-width: 1.5rem;
}

.blogThumbnail {
    margin: .5rem 0;
    flex: 1;
}

/*.filterBar {*/
/*    margin-top: 4rem;*/
/*    padding: 1rem;*/
/*    border-top: 1px solid #ddd;*/
/*    border-bottom: 1px solid #ddd;*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: 7rem;*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*    justify-content: flex-start;*/
/*    background-color: rgba(30, 30, 30, 1);*/
/*    z-index: 80;*/
/*}*/

.filterBar {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 4rem;
}


@media (min-width: 1200px) {
    .blogWrapper { width: 80vw;}
    .blogList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .blogWrapper { margin-top: 7rem;}
    .blogList {
        grid-template-columns: repeat(2, 1fr);
        /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
    }
    .firstElem .blogSummary {display: none;}
    .firstElem .blogSummaryMobile { display: block; margin: .5rem 0; }
    .firstElem { flex-direction: column; gap: 1rem;}
    .tagElem { display: none; }
    .tagElemMobile { display: block; }
}

@media (max-width: 576px) {
    .blogList {
        grid-template-columns: repeat(1, 1fr);
    }
}