.blogWrapper {
    width: 100%;
    margin-top: 10rem;
}
.blogList {
    width: 100%;
}
.blogItem {
    margin-top: 2rem;
}
.firstElem {
    width: 100%;
    display: flex;
    gap: 1rem;
}
.firstElem .left {
    flex: 1;
    width: 30%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.firstElem .right {
    flex: 2;
    width: 60%;
    border: 1px solid white;
}
.imageElem {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}

.blogTitle {
    color: white;
}
.inline {
    position: relative;
    display: inline;
}
.inline::after {
    content: '';
    position: absolute;
    bottom: -.25rem;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: .5s;
}
.blogTitle:hover .inline::after {
    width: 100%;
}
.blogTitle.hover .inline::after {
    width: 100%;
}
.svgArrow {
    transform: rotate(90deg);
}
.iconElem {
    position: absolute;
    display: inline;
    right: -2rem;
    transform: translateY(50%);
    width: 12px;
    height: 12px;
}