.blogWrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.skeletonTitle,
.skeletonTitleSmall,
.skeletonText,
.skeletonTextShort,
.skeletonImage {
    background: linear-gradient(
            90deg,
            #222 0%,
            #333 50%,
            #222 100%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.3s ease-in-out infinite;
    border-radius: 0.5rem;
}

.skeletonTitle {
    width: 70%;
    height: 2rem;
}

.skeletonTitleSmall {
    width: 60%;
    height: 1.6rem;
    margin-bottom: 0.5rem;
}

.skeletonText {
    width: 90%;
    height: 1.2rem;
    margin-top: 0.5rem;
}

.skeletonTextShort {
    width: 40%;
    height: 1.2rem;
    margin-top: 0.3rem;
}

.skeletonImage {
    width: 100%;
    height: 100%;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}



@media (min-width: 1200px) {
    .blogWrapper {
        width: 100%;
        margin: auto;
        /*max-width: 1280px;*/
    }
}

@media (max-width: 768px) {
    .blogWrapper { padding: 1.5rem; }
}
@media (max-width: 576px) {
    .blogWrapper { padding: 1rem; }
}