.roadmap { width: 100%; padding-left: 100px; transition: .5s;
    margin-top: 4rem;}
.roadmapTitle { font-size: 1.75rem;}
.roadmapContainer {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 450px;
    display: flex;
    align-items: center;
}
.roadmapWrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
    padding: 1rem 0;
}
.roadmapWrapper::-webkit-scrollbar {
    display: none
}

.roadmapElem {
    width: 200px;
    aspect-ratio: 2/3;
    flex-shrink: 0;
    min-width: 200px;
    transition: .5s;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /*border: 1px solid #999;*/
    border-radius: 6px;
    color: white;
    background: linear-gradient(90deg, rgba(125, 125, 125, 0.4), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255,255,255,0.4);
}
.roadmapElem:active { transform: scale(0.95); }
/*.roadmapElem:nth-child(even) {*/
/*    background: linear-gradient(*/
/*            0deg,   !* reverse direction *!*/
/*            rgba(125, 125, 125, 0.4),*/
/*            rgba(255, 255, 255, 0)*/
/*    );*/
/*}*/

.roadmapElem.clicked {
    width: 250px;
    /*height: 400px;*/
    border: 0;
    color: black;
}
.backgroundWhite {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 55;
    opacity: 0.2;
    transition: .5s;
}
.roadmapElem.clicked .backgroundWhite { opacity: 1; }
.roadmapBackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
    opacity: 0;
    transition: .5s;
}
.roadmapElem.clicked .roadmapBackground {
    opacity: 1;
}
.roadmapElemHead {
    text-align: center;
    margin-top: .5rem;
    position: relative;
    z-index: 75;
}
.roadmapElemBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    padding: 1rem;
}
.roadmapBodyTitle {
    font-size: 1rem;
    position: relative;
    z-index: 75;
}
.roadmapBodyContent {
    overflow: hidden;
    max-height: 0;
    transition: .5s;
    margin-top: 1rem;
    position: relative;
    z-index: 75;
    font-size: .8rem;
    color: black;
}
.roadmapElem.clicked .roadmapBodyContent {
    max-height: 100%;
}
.roadmapElem.clicked .roadmapBodyTitle {
    font-size: 1.25rem;
}
@media (min-width: 1200px) {
    .roadmapElem { width: 250px;}
    .roadmapElem.clicked { width: 336px; }
}

@media (min-width: 1400px) {
    .roadmapBodyTitle { font-size: 1.5rem; }
    .roadmapElem.clicked .roadmapBodyTitle { font-size: 1.5rem; }
    .roadmapElem.clicked .roadmapBodyContent { font-size: 1rem; }
    .roadmapTitle { font-size: 2.5rem; }
}

@media (max-width: 768px) {
    .roadmapTitle { font-size: 1.5rem; }
    .roadmap {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .roadmapTitle { font-size: 1.25rem;}
}