.detailWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content {
    position: relative;
    /*height: 0;*/
    transition: .5s;
    margin-top: 2.5rem;
}
.content.open {
    height: auto;
}
.title {
    position: absolute;
    text-align: center;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    overflow: hidden;
    border: 1px solid #1DFCFF;
    transition: .5s;
}
.btnWrapper {
    transition: .5s;
    opacity: 1;
    position: relative;
    max-height: 4rem;
    overflow: hidden;
}
.btnWrapper.hide {
    opacity: 0;
    max-height: 0;
}

.openBtn {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
    transition: .5s;
    overflow: hidden;
}
/*.openBtn::before {*/
/*    content: '';*/
/*    width: 0;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: #1DFCFF;*/
/*    transition: .5s;*/
/*    z-index: 50;*/
/*}*/
.closeBtn {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: .5s;
    cursor: pointer;
    z-index: 99;
    overflow: hidden;
}
/*.closeBtn::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 0;*/
/*    height: 100%;*/
/*    background-color: #1DFCFF;*/
/*    transition: .5s;*/
/*    z-index: 50;*/
/*}*/
.btnSpan {
    position: relative;
    z-index: 120;
    padding: 1rem 2rem;
    border:  1px solid #1DFCFF;
    border-radius: 3rem;
    transition: .5s;
}
.btnSpan:active {
    transform: scale(.9);
}
/*.closeBtn:hover {*/
/*    color: black;*/
/*}*/
.closeBtn:hover::before {
    width: 100%;
}
.closeBtn:hover ~ .openBtn {
    color: black;
}
.closeBtn:hover ~ .openBtn::before {
    width: 100%;
}
.checkbox:checked ~ .title .closeBtn {
    opacity: 1;
}

.tableWrapper {
    max-height: 0px;
    transition: 1s;
    overflow: hidden;
    width: 75vw;
    margin: 0 auto;
    position: relative;
}
.tableWrapper.isOpen {
    max-height: 150vh;
    margin: 2rem auto;
}
.checkbox:checked ~ .tableWrapper {
    max-height: 150vh;
}
.table {
    width: 100%;
}
.table td,
.table th {
    text-align: center;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.table td:nth-child(1),
.table th:nth-child(1) {
    width: 15%;
}
.table td:nth-child(2),
.table th:nth-child(2) {
    width: 35%;
}
.table td {
    cursor: pointer;
}
td.spanTwo,
th.spanTwo {
    width: 50%;
}
td.spanThree,
th.spanThree {
    width: 75%
}
.table tr {
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    position: relative;
    transition: .5s;
    cursor: pointer;
}
.table tr:last-child {
    pointer-events: none;
}
.table tr:last-child td:first-child {
    width: 75%;
}
.table tr:last-child td:last-child {
    width: 25%;
}
.table thead tr {
    pointer-events: none;
    font-size: .8rem;
}
.table tr:hover {
    /*background-color: rgba(255,255,255,0.2);*/
}
.table tr:last-child {
    border-bottom: 0;
}

.reference {
    position: absolute;
    top: 0;
    right: 0;
    width: 50% !important;
    height: 100%;
    padding: .5rem;
    transition: .5s;
    opacity: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #555;*/
    background-color: black;
}
/*.table tr:hover .reference{*/
/*    opacity: 1;*/
/*}*/
/*.table tr.selected .reference {*/
/*    opacity: 1;*/
/*}*/
.table tr.selected {
    background-color: rgba(0,252,255);
    color: black;
}
.table tr.selected .reference {
    opacity: 1;
    background-color: #00FCFF;
    color: black;
}
@media (max-width: 768px) {
    .table {
        font-size: .8rem;
    }
    .table tr { min-height: 3.5rem; }
    .reference { font-size: .6rem; }
}

@media (max-width: 576px) {
    .tableWrapper { width: 90vw; }
    .title { width: 8rem; height: 3rem; }
    .table { font-size: .7rem}
    .table tr { min-height: 3rem; }
}




