.blogTagWrapper {
    min-height: calc(100vh - 3rem - 6px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}

.loadingWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 42px;
    height: 42px;
    border: 4px solid #333;
    border-top: 4px solid #aaa;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


@media (min-width: 1200px) {
    .blogTagWrapper {
        width: 80vw;
        margin: auto;
        max-width: 1280px;
    }
}

@media (max-width: 768px) {
    .blogTagWrapper { padding: 1.5rem; }
}
@media (max-width: 576px) {
    .blogTagWrapper { padding: 1rem; }
}