.linkBtn.isActive {
    /*font-weight: bold;*/
    /*color: rgba(180, 180, 30);*/
    color: white;
}
.linkBtn {
    transition: .5s;
    color: rgba(255,255,255,0.7);
}
.linkBtn:hover {
    /*color: rgba(180, 180, 30);*/
    color: white;
}

.pseudo::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    /*background-color: rgba(180, 180, 30, 0.8);*/
    background-color: white;
    transition: .5s;
}
.pseudo.isActive::after {
    width: 100%;
}

