.detailWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*padding: 2rem;*/
    margin-top: 9rem;
    gap: 8rem;
    width: 100%;
}

/* html 컨텐츠*/
.htmlContent img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: .5rem;
}

.htmlContent a {
    text-decoration: underline;
}

.htmlContent p {
    margin: 0 0 1em 0;
    line-height: 1.7;
}
/* html 컨텐츠*/

.detailUp {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    position: relative;
}
.left {
    width: 33%;
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding-right: 2rem;
    opacity: 0;
    animation: .5s ease-in-out fadeIn forwards;
}
.right {
    width: 66%;
    align-self: stretch;
}
.leftContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 8rem;
    /*background-color: black;*/
    z-index: 50;
    gap: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    overflow: hidden;
    transition: .5s;
}
.newsTitle {
    font-size: 1.5rem;
    line-height: 1.25;
}
.newsAuthor { font-size: 1.2rem; }
.leftContentDown {
    bottom: 8rem;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 45;
}
.backToMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}
.backToMainMobile {
    display: none;
    transition: .5s;
    color: #999;
}
.backToMainMobile:hover {
    color: white;
}
.backToMain::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #999;
    height: 1px;
    width: 0;
    transition: .5s;
}
.leftArrow {
    opacity: 0.75;
    transform: rotate(180deg);
    transition: .5s;
    margin-top: 2px;
}
.backToMain:hover::after {
    width: 100%;
    color: white;
}
.backToMain:hover .leftArrow {
    opacity: 1;
}

.imageWrapper {
    position: relative;
    width: 100%;
    /*height: 50vh;*/
    opacity: 0;
    animation: .5s ease-in-out fadeIn forwards;
    animation-delay: .5s;
}
.imageDesc {
    display: block;
    font-size: .8rem;
    color: #999999;
    padding-top: 1rem;
    opacity: 0;
    animation: .5s ease-in-out fadeIn forwards;
    animation-delay: 1s;
}
.mainContent {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
    opacity: 0;
    animation: .5s ease-in-out fadeIn forwards;
    animation-delay: 1.5s;
}
.contentEnd {

}
.subTitle {
    padding-bottom: 4rem;
}
.mainContent hr {
    align-self: stretch;
    opacity: 0.75;
}

/* content below */
.detailDown {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    min-height: 66vh;
}
.downLeft {
    width: 33%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
.downLeftContent {
    align-self: flex-end;
    position: sticky;
    position: -webkit-sticky;
    text-align: right;
    top: 7rem;
}
.downLeftContent > div {
    margin-top: 1rem;
    color: #999;
    transition: .5s;
    position: relative;
    font-size: 1.2rem;
}
.downLeftContent > div:after {
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    height: 1px;
    background-color: #999;
    width: 0;
    transition: .5s;
}
.downLeftContent > div:hover {
    color: white;
}
.downLeftContent > div:hover::after {
    width: 100%;
    color: white;
}
.backToTop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*.backToTop {*/
/*    align-self: flex-end;*/
/*    position: sticky;*/
/*    position: -webkit-sticky;*/
/*    top: 7rem;*/
/*}*/
/*.toOriginal {*/
/*    align-self: flex-end;*/
/*}*/
.downRight {
    width: 66%;
    align-self: stretch;
}
.downRightContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
    gap: 2rem;
    padding-bottom: 6rem;
}
.downRightContent hr {
    align-self: stretch;
}

.mobileToggle { display: none; }
.mobileButton { display: none; cursor: pointer; transition: .5s; transform: rotate(270deg);}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    /*.detailWrapper {*/
    /*    width: 80vw;*/
    /*}*/
}

@media (max-width: 768px) {
    .detailWrapper {
        /*padding: 1.5rem;*/
        margin-top: 7rem;
    }
    .detailUp {
        flex-direction: column;
    }
    .left {
        /*position: sticky; */
        /*position: -webkit-sticky; */
        /*top: 4rem;*/
        z-index: 55; padding: 0; width: 100%;
        background-color: rgba(30, 30, 30, 1); border-bottom: 1px solid #999;
    }
    .right { width: 100%; }
    .leftContent {
        top: 4rem;
        gap: 0;
        align-self: stretch;
        padding: 1rem 0;
        position: static;
        margin-bottom: 0;
        max-height: 30vh;
    }
    .leftContentDown {
        /*position: static;*/
        align-self: center;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        z-index: 70;
        width: 100%;
        justify-content: flex-end;
        opacity: .75;
        display: none;
    }
    .downLeft { justify-content: center; }
    .detailDown {
        flex-direction: column;
    }
    .downLeft { width: 100%; }
    .downRight { width: 100%; }


    .newsDate { font-size: .8rem; }
    .newsTitle { font-size: 1.25rem; margin-top: .5rem; }
    .newsAuthor { font-size: .8rem; margin-top: 1rem;}
    /*.left { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%;*/
    /*    padding-right: 0; }*/
    /*.right { padding-top: 50vh; width: 100% }*/
    .mobileButton { display: block; }
    .backToMainMobile { display: block; }
    .backToMain { display: none; }
    .mobileToggle:checked ~ .leftContent { max-height: 0; color: rgba(30, 30, 30, 1); }
    .mobileToggle:checked ~ .leftContentDown .mobileButton {
        transform: rotate(90deg);
    }

}

@media (max-width: 576px) {
    .detailWrapper {
        /*padding: 1rem;*/
    }
    .detailDown {
        flex-direction: column;
    }
    .downLeft { width: 100%; }
    .downRight { width: 100%; }
    .downRightContent { padding-top: 4rem; }
    .downLeftContent > div { font-size: 1rem; margin-top: .5rem}
    .leftContentDown { font-size: .6rem; }
    .leftArrow {
        width: 8px;
        height: 8px;
    }
    .newsDate { font-size: .6rem; }
    .newsTitle {
        font-size: 1.2em;
    }
    .newsAuthor {
        font-size: .6rem;
    }
}