.languageWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 5rem;
    z-index: 160;
}
.languageSelect {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.languageArrow {
    opacity: 0;
    transition: .5s;
    margin-top: 3px;
}
.languageArrowUp {
    opacity: 0.7;
    transition: .5s;
    margin-top: 3px;
}
.languageSelect:hover {
    color: white;
}
.languageSelect:hover .languageArrow {
    opacity: 1;
}
.languageSelect:hover .languageArrowUp {
    opacity: 1;
}
.languageModal {
    position: relative;
    padding: 0rem 2rem;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    transition: .5s;
    max-height: 0;
    overflow: hidden;
}
.langBar {
    align-self: stretch;
    width: 1px;
    background-color: #999;
}
.languageModal.show {
    max-height: 3rem;
    padding: .5rem 2rem;
}
.languageModal button {
    color: #888;
    transition: .5s;
    font-size: .8rem;
}
.languageModal button:hover {
    color: white;
}
.languageModal .current {
    color: white;
}