.languageWrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 4rem;
    z-index: 160;
}
.languageSelect {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.languageArrow {
    opacity: 0;
    transition: .5s;
    margin-top: 3px;
}
.languageArrowUp {
    opacity: 0.7;
    transition: .5s;
    margin-top: 3px;
}
.languageSelect:hover {
    color: white;
}
.languageSelect:hover .languageArrow {
    opacity: 1;
}
.languageSelect:hover .languageArrowUp {
    opacity: 1;
}
.languageModal {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    max-height: 0;
    transition: .5s;
    overflow: hidden;
    padding-right: 2rem;
    border-top: 0;
}
.langElem {
    /*min-width: 3rem;*/
}
.langBar {
    align-self: stretch;
    width: 1px;
    background-color: #999;
}
.separator {
    color: #bbbbbb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languageModal.show {
    max-height: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: 1px solid #555;
}
.languageModal button {
    color: #888;
    transition: .5s;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languageModal button:hover {
    color: white;
}
.languageModal .current {
    color: white;
}

/*@media (min-width: 1200px) {*/
/*    .languageWrapper {*/
/*        right: 10vw;*/
/*        transition: .5s;*/
/*    }*/
/*    .languageModal {*/
/*        padding-right: 10vw;*/
/*    }*/
/*}*/

/*@media (min-width: 1500px) {*/
/*    .languageWrapper {*/
/*        right: calc((100vw - 1200px) / 2);*/
/*    }*/
/*    .languageModal {*/
/*        padding-right: calc((100vw - 1200px) / 2);*/
/*    }*/
/*}*/