.mainTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.element {
    margin-top: 4rem;
}
.elementTitle {
    font-size: 1.5rem;
}
.elementContent {
    margin-top: 1rem;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.elementContent:last-child {
    margin-bottom:  4rem;
}
.elementImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    transition: .5s;
}
.elementText {
    flex: 3;
}
.imageStyle {
    /*border-radius: 8px;*/
    border: 1px solid #bbb;
}

.fadeInAnimation {
    animation: fadeIn .5s ease-in-out forwards;
}
.delayedAnimation {
    animation: fadeIn .5s ease-in-out forwards;
    animation-delay: .5s;
}
.moreDelayedAnimation {
    animation: fadeIn .5s ease-in-out forwards;
    animation-delay: 1s;
}
.textGradient {
    background: linear-gradient(to right, #ddd 0%, #eee 50%, #ddd 100%);
    -webkit-background-clip: text; /* Apply gradient to text */
    -webkit-text-fill-color: transparent; /* Make text transparent */
    background-clip: text;
    color: transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 1400px) {
    .mainTitle { font-size: 2.5rem; }
    .elementTitle { font-size: 2rem; }
}

@media (max-width: 576px) {
    .mainTitle {
        font-size: 2rem;
    }
    .elementTitle {
        font-size: 1.2rem;
    }
    .elementImage {
        width: 33vw;
    }
}