.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 4rem;*/
    display: none;
    background-color: rgba(40,40,40,0.2);
    z-index: 200;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: .5s;
    /*box-shadow: 0px 0px 2px 4px rgba(255,255,255,0.2);*/
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.header.clicked {
    padding-bottom: .5rem;
}
.navigation {
    position: relative;
    height: 4rem;
}

@media (max-width: 768px) {
    .header {
        display: block;
    }
}